<h1><%= title %></h1>

<p>
  <%- message %>
</p>

<hr>

<p style="font-style: italic;">
  🚨 Well this is awkward… something clearly went wrong.  
  Our highly trained hamsters are looking into it.
</p>